.hidden {
    display: none;
}

.Modal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Modal-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.Modal-input{
    width: 50%;
}