.Product {
}

.Product-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}


.Product-input {
    border: none;
    background-color: transparent;
    width: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

.Product-input-left {
    text-align: left;
}

.Product-input-right {
    text-align: right;
}

.Product-value-separator{

}

.Product-min-price{
    border: 1px solid #28a745;
    border-radius: 5px;
}

.Product-max-price{
    border: 1px solid #a70b0a;
    border-radius: 5px;
}