.Product {
}

.Product-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}


.Product-input {
    border: none;
    background-color: transparent;
    width: 50%;
}

.Product-input-left {
    text-align: left;
}

.Product-input-right {
    text-align: right;
}

.Product-value-separator{

}