.Table {
}

.Table-heading{
}

.Table-add-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.Table-remove-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #dc3545;
    border-color: #a70b0a;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hidden{
    display: none;
}