.Prices {
}

.Prices-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

.Prices-input {
    border: 1px solid transparent;
    background-color: transparent;
    width: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

.Prices-input-left {
    text-align: left;
}

.Prices-input-right {
    text-align: right;
}

.Prices-value-separator {
    margin-left: 2px;
    margin-right: 2px;
}

.Prices-min-price {
    border: 1px solid #28a745;
    border-radius: 5px;
}

.Prices-max-price {
    border: 1px solid #a70b0a;
    border-radius: 5px;
}