.Table {
}

.Table-heading{
}

.Table-add-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #288820;
    border-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 24px;
}