.Intro {
    display: flex;
    flex-direction: column;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #222;
    height: 400px;
    color: white;
}

.App-title {
    font-size: xx-large;
    margin-left: 15px;
}

.App-intro {
    font-size: large;
}

.App-hidden {
    display: none;
}

.App-logo {
    display: flex;
    flex-grow: 0;
    width: 256px;
    height: 256px;
}

.btn-fixed {
    align-self: center;
}