.PresetSelector-select{
    font-size: medium;
}

.PresetSelector-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.PresetSelector-load-btn{
    margin-right: 10px;
    height: 100%;
}