.App {
    text-align: center;
}

.App-logo {
    display: flex;
    flex-grow: 0;
}

.App-logo-small {
    height: 8vh;
    margin-left: 15px;
}

.App-header-small {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    background-color: #222;
    height: 10vh;
    color: white;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    height: 35vh;
    color: white;
}

.App-title {
    font-size: xx-large;
    margin-left: 15px;
}

.App-intro {
    font-size: large;
}

.App-hidden {
    display: none;
}

.App-save-load-controls {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.App-save-btn {
    margin-right: 5%;
    font-size: x-large;
}

.App-load-btn {
    font-size: x-large;
}

.App-controls-container {
    display: flex;
}
