.App {
    text-align: center;
}

.App-logo {
    display: flex;
    flex-grow: 0;
}

.App-logo-small {
    height: 8vh;
}

.App-header-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222;
    height: 10vh;
    color: white;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    height: 35vh;
    color: white;
}

.App-title {
    padding-left: 15px;
    /*font-size: 1.5em;*/
}

.App-intro {
    font-size: large;
}

.App-hidden {
    display: none;
}
