.App {
    text-align: center;
}

.App-logo {

}

.App-logo-small {
    height: 50px;
    width: 50px;
}

.App-header-small {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    background-color: #222;
    height: 10vh;
    color: white;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    height: 35vh;
    color: white;
}

.App-title {
    font-size: xx-large;
    margin-left: 15px;
}

.App-intro {
    font-size: large;
}

.App-hidden {
    display: none;
}

.App-save-load-controls {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.App-save-btn {
margin-right: 10px;
    margin-left: 10px;
    width: 75px;
}

.App-load-btn {
    width: 75px;
}

.App-controls-container {
    display: flex;
}
